<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- maze UI 所有样式文件 -->
  <link rel="stylesheet" href="/xysvr-mgr/static/css/amazeui.min.css">
  <!--  自定义样式文件 -->
  <link rel="stylesheet" href="/xysvr-mgr/static/css/app.css">
  
</head>
<body>
 <!-- 路径导航 start -->
    <ol class="am-breadcrumb am-breadcrumb-slash">
        <li>首页</li> 
        <li class="am-active">404</li>
    </ol>
    <!-- 路径导航 end -->
<!-- 404 start -->
<div class="am-g">
    <div class="am-u-sm-12">
        <h2 class="am-text-center am-text-xxxl am-margin-top-lg">404. Not Found</h2>
        <p class="am-text-center">没有找到你要的页面</p>
        <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
       <p class="am-text-center"> <a href="/xysvr-mgr" target="_top" class="am-btn am-btn-default"><span class="am-icon-long-arrow-left"></span>　返回首页　</a></p>
    </div>
</div>
<!-- 404 end -->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/xysvr-mgr/static/js/jquery.min.js"></script>
<script src="/xysvr-mgr/static/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="/xysvr-mgr/static/js/app.js"></script>
</body>
</html>